:root {
  --main-color: rgb(223, 3, 3);
  --main-color-two: rgb(1, 12, 58);
  --main-color-six: rgb(23, 63, 207);
  --main-color-seven: rgb(229, 3, 238);
  --main-color-eight: rgb(255, 241, 255);
  --main-color-nine: rgb(21, 0, 95);
  --main-color-ten: rgb(0, 202, 255);
  --main-color-eleven: rgb(1, 62, 255);
  --main-color-twelve: rgb(213, 64, 31);
  --main-color-thirteen: rgb(24, 156, 252);
  --main-color-fourteen: rgb(51, 51, 51);
  --main-color-fifteen: rgb(230, 42, 91);
  --main-color-sixteen: rgb(187, 11, 11);
  --main-color-eighteen: rgb(229, 42, 91);
  --main-color-nineteen: rgb(233, 42, 91);
  --main-color-twenty: rgb(68, 68, 69);
  --main-color-twentyone: rgb(119, 119, 120);
  --main-color-twentytwo: rgb(50, 38, 104);
  --main-color-rgba: rgb(223, 3, 3, 0.4);
  --white-color: rgb(255, 255, 255);
  --white-color-opicity: rgba(255, 255, 255, 0.8);
  --white-color-opicity-two: rgba(255, 255, 255, 0.4);
  --white-color-opicity-three: rgba(255, 255, 255, 0.2);
  --black-color: rgb(0, 0, 0);
  --black-color-opicity: rgba(0, 0, 0, 0.8);
  --black-color-opicity-two: rgba(0, 0, 0, 0.4);
  --dark-color: rgb(37, 37, 37);
  --dark-color-two: rgb(34, 34, 34);
  --dark-color-three: rgb(0, 5, 34);
  --heading-color: rgb(1, 1, 1);
  --dark-color-two: rgb(1, 1, 1);
  --dark-color-three: rgb(6, 11, 19);
  --dark-color-four: rgb(1, 0, 72);
  --dark-color-five: rgb(14, 22, 61);
  --dark-color-six: rgb(11, 19, 57);
  --dark-color-seven: rgb(7, 13, 49);
  --dark-color-eight: rgb(24, 31, 67);
  --font-family-DM-Sans: "DM Sans", sans-serif;
  --font-family-Sen: "Sen", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  transition: all 300ms ease;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

/* ------------------- navigationbar ------------- */

.main-header.header-style-seven {
  position: absolute;
  left: 0px;
  right: 0px;
}

.main-header {
  /* position: relative; */
  z-index: 9;
  width: 100%;
}

.menu-backdrop {
  position: fixed;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.9);
  transition-delay: 300ms;
  transition: all 0.4s ease-out;
}

.mobile-menu-visible .menu-backdrop {
  opacity: 1;
  width: 100%;
  visibility: visible;
  transform: translateX(0%);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-out;
  z-index: 999999;
  transition-delay: 500ms;
}

.sidebar ul {
  list-style: none;
  /* padding: 20px; */
  border-top: 1px solid #dddddd;
}

.sidebar ul li {
  /* margin-bottom: 10px; */
  position: relative;
  display: block;
  border-bottom: 1px solid #dddddd;
}

.sidebar ul li a {
  position: relative;
  display: block;
  line-height: 24px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--dark-color);
  text-transform: capitalize;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.show-sidebar {
  right: 0;
}
.remove-sidebar {
  right: -100%;
}

.dropdown-btn {
  color: var(--dark-color-eight);
  font-size: 10px;
  padding: 10px;
  cursor: pointer;
  border-left: 1px solid #cecdcd;
}

.dropdown-menu {
  display: none;
  /* padding-left: 20px; Adjust as needed */
}

.dropdown-menu.active {
  display: block;
  transition: all 0.3s ease;
}

/* navbar */
nav .inner-container .navlinks ul li a {
  color: var(--main-color-fourteen);
  position: relative;
  display: block;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0px;
  /* opacity: 1; */
  font-weight: 700;
  padding: 35px 0;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 35px;
  -webkit-transition: all 500ms ease;
}
nav .inner-container ul li:hover a {
  color: var(--main-color-fifteen);
}

nav .inner-container .navlinks ul li {
  position: relative !important;
}
nav .inner-container .navlinks .navigation .dropdown ul {
  background-color: var(--main-color-fifteen);
  position: absolute;
  width: 15rem;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 300ms ease, opacity 300ms ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 100000;
}
nav .inner-container .navlinks .navigation .dropdown:hover ul {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}

nav .inner-container .navlinks .navigation .dropdown ul li {
  position: relative;
  width: 100%;
  text-align: left !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav .inner-container .navlinks .navigation .dropdown ul li:hover {
  background-color: #4c25c4;
}
nav .inner-container .navlinks .navigation .dropdown ul li a {
  position: relative;
  display: block;
  padding: 12px 22px;
  line-height: 24px;
  font-weight: 600;
  font-size: 15px;
  text-transform: capitalize;
  color: var(--white-color);
  margin-left: 0 !important;
  text-align: left;
  cursor: pointer;
}

nav .inner-container .navlinks .navigation .dropdown ul li:hover a {
  padding-left: 30px;
  color: var(--white-color);
  background-color: var(--main-color-two);
}

nav .inner-container .navlinks .navigation .dropdown ul li a::before {
  color: var(--main-color-fifteen);
}
nav .inner-container .navlinks .navigation .dropdown ul li a::before {
  position: absolute;
  content: "//";
  left: 10px;
  top: 11px;
  font-weight: 700;
  font-size: var(--font-12);
}

/* ------------- hero section ----------------- */

.owl-item.active .slide {
  animation: fadeIn ease 0.5s;
}
.owl-item.active .content-boxed .inner-box .title {
  animation: fadeInRight ease 2s;
}
/* .owl-item.owl-animated-out .content-boxed .inner-box .title {
  animation: fadeOutRight ease 1s;
} */
.owl-item.active .content-boxed .inner-box h1 {
  animation: fadeInRight ease 2s 0.1s;
}
/* .owl-item.owl-animated-out .content-boxed .inner-box h1 {
  animation: fadeOutRight ease 1s 0.1s;
} */
.owl-item.active .content-boxed .inner-box .text {
  animation: fadeInRight ease 2s 0.2s;
}
.owl-item.owl-animated-out .content-boxed .inner-box .text {
  animation: fadeOutRight ease 1s 0.2s;
}

.owl-item.active .content-boxed .inner-box .btns-box {
  animation: fadeInRight ease 2s 0.3s;
}
/* .owl-item.owl-animated-out .content-boxed .inner-box .btns-box {
  animation: fadeOutRight ease 1s 0.3s;
} */

.owl-item.active .image-column .inner-column .image {
  animation: fadeInDown ease 2s;
}
.owl-item.owl-animated-out .image-column .inner-column .image {
  animation: fadeOutUp ease 2s;
}

.slide {
  background: url(../images/hero-bg.jpg);
  position: relative;
  overflow: hidden;
  padding: 100px 0px 100px;
  background-size: cover;
  background-position: center center;
}
.content-boxed {
  position: relative;
  z-index: 1;
  width: 100%;
  /* min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; */
}

.content-boxed .inner-box {
  position: relative;
  padding-top: 80px;
}
.content-boxed .inner-box .title {
  position: relative;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  color: var(--main-color-two);
  font-family: var(--font-family-poppins);
  /* margin-bottom: 5px; */
  height: 30px;
}
.content-boxed .inner-box h1 {
  position: relative;
  color: var(--main-color-two);
  background: linear-gradient(
    to right,
    var(--main-color-two) 0%,
    var(--main-color-eighteen) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 300px;
  line-height: 0.8em;
  letter-spacing: -10px;
  margin-bottom: 20px;
}
.content-boxed .inner-box .text {
  position: relative;
  font-weight: 700;
  font-size: 60px;
  color: var(--main-color-two);
  transform-origin: top;
  text-transform: uppercase;
  /* transition: all 1000ms ease; */
  margin-bottom: 15px;
  font-family: var(--font-family-poppins);
  text-align: left;
}
.slide .image-column {
  position: relative;
}
.slide .image-column .image {
  position: relative;
  margin-left: -200px;
  margin-right: -120px;
  margin-top: -120px;
}
.slide .image-column .image img {
  height: auto;
  max-width: 100%;
}

.btn-style-sixteen {
  color: var(--main-color-two);
  background-color: var(--main-color-two) !important;
}

.btn-style-sixteen .txt {
  position: relative;
  z-index: 1;
}
.btn-style-sixteen:hover .txt {
  color: var(--white-color) !important;
}

/* .main-slider-five .owl-dots,
.main-slider-five .owl-nav {
  display: none;
} */

/* --------------- scroll top top --------------- */

.scroll_top {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.scroll_top:hover {
  background-color: var(--main-color);
}
.scroll_top:hover i {
  color: var(--white-color);
}
.scroll_top i {
  color: var(--main-color);
  font-size: 20px;
}

/* ------------   pricing section starts ---------- */
.pricing_btn {
  font-weight: 500;
  padding: 15px 30px;
  font-size: var(--font-15);
  text-transform: uppercase;
  font-family: var(--font-family-poppins);
  border-radius: 25px;
  color: white;
  border: 1px solid white;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: linear-gradient(
    to left,
    var(--main-color-two) 0%,
    var(--main-color-eighteen) 100%
  );
}
.pricing_btn:hover {
  background: white;
  color: var(--main-color-two);
  cursor: pointer;
  border: 1px solid var(--main-color-two);
}
.price-block-six .icon-list {
  position: relative;
}
.price-block-six .icon-list li {
  position: relative;
  width: 76px;
  height: 76px;
  padding: 14px;
  margin: 0px 3px;
  border-radius: 50px;
  display: inline-block;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: linear-gradient(
    to left,
    var(--main-color-two) 0%,
    var(--main-color-eighteen) 100%
  );
}
.price-block-six:hover .icon-list {
  transform: rotateY(180deg);
  transition: all 0.5s ease-in;
}
.price-block-six .upper-box h4 {
  font-size: 20px;
  color: var(--main-color-two);
  margin-top: 20px;
  font-weight: 700;
  font-family: var(--font-family-poppins);
}
.price-block-six .price {
  position: relative;
  font-weight: 600;
  line-height: 1em;
  font-size: 42px;
  margin-top: 15px;
  color: var(--main-color-fifteen);
  font-family: var(--font-family-Jost);
}
.price-block-six .text {
  position: relative;
  padding: 0px 20px;
  color: var(--main-color-twenty);
  margin-top: 20px;
  line-height: 1.8em;
  text-align: center;
}
.price-block-six .lower-box {
  position: relative;
  padding-left: 30px;
  padding-right: 25px;
}
.price-block-six .price-list {
  position: relative;
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.price-block-six .price-list li {
  position: relative;
  font-size: 15px;
  color: var(--main-color-twenty);
  padding-left: 30px;
  margin-bottom: 15px;
  font-family: var(--font-family-poppins);
}
.price-block-six .price-list li:before {
  position: absolute;
  content: "\f00c";
  left: 0px;
  color: var(--main-color);
  font-family: "FontAwesome";
}

/* --------- services-section-three starts ---------- */
.services-section-three {
  padding: 100px 0px 70px !important;
}
.facility-block {
  position: relative;
  margin-bottom: 30px;
  /* padding: 0 15px; */
}
.facility-block .inner-box {
  position: relative;
  padding: 40px 20px 40px;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
.facility-block .inner-box .pattern-layer {
  position: absolute;
  left: 23%;
  top: 10%;
  width: 70px;
  height: 56px;
  opacity: 0;
  background-repeat: no-repeat;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.facility-block .inner-box:hover .pattern-layer {
  opacity: 1;
}
.facility-block .inner-box .icon-box {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 76px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  color: var(--main-color);
  font-size: 40px;
  background-color: #fdf6f6;
  border: 2px solid var(--main-color);
  transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -webkit-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
}
.facility-block .inner-box:hover .icon-box {
  color: var(--white-color);
  background-color: var(--main-color);
  -webkit-transform: scale(-1) rotate(180deg);
  -moz-transform: scale(-1) rotate(180deg);
  -ms-transform: scale(-1) rotate(180deg);
  -o-transform: scale(-1) rotate(180deg);
  transform: scale(-1) rotate(180deg);
}
.facility-block .inner-box h6 {
  font-size: 18px;
  color: var(--heading-color);
  font-family: var(--font-family-poppins);
  font-weight: 700;
}
.facility-block .inner-box .text {
  padding: 0px 5px;
  font-size: 15px;
  color: var(--dark-color);
  font-family: var(--font-family-poppins);
  line-height: 1.8em;
}

/* ----------- tb section -------- */
.tv-section .content-column .icon {
  /* position: absolute; */
  left: 0px;
  top: 0px;
  transition: all 500ms ease;
}
.tv-section .title {
  position: relative;
  font-weight: 700;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--main-color-nineteen);
  font-family: var(--font-family-poppins);
}
.tv-section .title h4 {
  line-height: 1.4em;
  font-size: 24px;
  font-weight: 700;
  color: var(--heading-color);
  font-family: var(--font-family-poppins);
}
.tv-section h2 {
  line-height: 55px;
  color: var(--main-color-two);
  margin-top: 20px;
  font-size: 42px;
  font-weight: 700;
}

.tv-section .content-column .text {
  position: relative;
  font-size: 16px;
  margin-top: 20px;
  color: var(--main-color-fourteen);
  margin-bottom: 40px;
  padding-right: 100px;
  font-family: var(--font-family-poppins);
  line-height: 1.8em;
}

.tv-section .icon-list li {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: var(--main-color-two);
  margin-right: 50px;
  margin-bottom: 20px;
  font-family: var(--font-family-poppins);
  z-index: 1;
}
.tv-section .icon-list li .icon {
  position: relative;
  width: 55px;
  height: 55px;
  display: block;
  z-index: 1;
  margin-left: 20px;
  margin-bottom: 25px;
}
.tv-section .icon-list li .icon:before {
  position: absolute;
  content: "";
  left: -20px;
  top: -8px;
  z-index: -1;
  width: 70px;
  height: 70px;
  background: url(../images/circle.png) no-repeat;
}

/* ------------ faq section ------------ */
.faq-section {
  position: relative;
  padding: 100px 0px 100px;
  background-attachment: fixed;
  background-size: cover;
}
.faq-section .image-column .inner-column {
  position: relative;
  text-align: center;
}
.sec-title .separator {
  position: relative;
  width: 88px;
  height: 5px;
  background-color: var(--main-color);
  margin-bottom: 25px;
}
.sec-title .separator:before {
  position: absolute;
  content: "";
  left: -1px;
  top: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  display: inline-block;
  background-color: var(--main-color);
}

.sec-title .separator:after {
  position: absolute;
  content: "";
  right: -1px;
  top: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  display: inline-block;
  background-color: var(--main-color);
}

.sec-title h3 {
  color: var(--heading-color);
  font-weight: 700;
}

.accordion-box .block {
  position: relative;
  border-radius: 4px;
  background-color: var(--white-color);
  margin-bottom: var(--margin-bottom-20);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.accordion-box .block .acc-btn.active {
  color: var(--main-color);
}
.accordion-box .block .acc-btn {
  font-size: 18px;
  padding-right: 40px;
  position: relative;
  cursor: pointer;
  line-height: 30px;
  font-weight: 700;
  padding: 18px 30px;
  text-transform: capitalize;
  color: var(--dark-color-two);
  transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}
.accordion-box .block .icon-outer {
  position: absolute;
  right: 10px;
  /* top: 10px; */
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: var(--font-18);
  color: var(--main-color-two);
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.accordion-box .block .acc-btn.active .icon-outer .icon-plus {
  opacity: 0;
}

.accordion-box .block {
  position: relative;
  border-radius: 4px;
  background-color: var(--white-color);
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.accordion-box .block .content {
  position: relative;
  padding: 0px 25px 25px 30px;
}

.accordion-box .block .content .text,
p {
  position: relative;
  line-height: 1.8em;
  font-size: 15px;
  color: var(--dark-color);
  font-family: var(--font-family-poppins);
}

.faq-section .image-column .pattern-layer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 450px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.faq-section .image-column .image {
  position: relative;
  z-index: 1;
}

/* ----------------- speedtest-section ------------- */
.speedtest-section {
  position: relative;
  padding: 245px 0px 120px;
  background-size: cover;
  background-position: 60% 100%;
}

.speedtest-section .content-column .content {
  position: relative;
  padding-left: 80px;
  font-family: var(--font-family-poppins);
}
.speedtest-section .content-column .icon {
  position: absolute;
  left: 0px;
  top: 0px;
  line-height: 1em;
}

.speedtest-section .title {
  position: relative;
  font-weight: 600;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--white-color);
}

.speedtest-section h3 {
  font-weight: 400;
  color: var(--white-color);
  margin-top: 15px;
}
.speedtest-section h3 span {
  font-weight: 700;
}

.speedtest-section .content-column .button-box {
  margin-top: 40px;
}

.theme-btn {
  position: relative;
  line-height: 30px;
  font-weight: 500 !important;
  overflow: hidden;
  background: none;
  text-align: center;
  border-radius: 3px;
  display: inline-grid;
  padding: 12px 36px;
  font-size: 16px !important;
  text-transform: capitalize;
  font-family: var(--font-family-poppins);
  color: var(--white-color);
}
.theme-btn:hover .txt {
  color: var(--white-color) !important;
}

.btn-style-fifteen {
  border-radius: 0;
  background: linear-gradient(
    to right,
    var(--main-color-twentytwo) 0%,
    var(--main-color-eighteen) 100%
  );
}

.btn-style-fifteen:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.2, 1);
  transform: scale(0.2, 1);
  background: linear-gradient(
    to left,
    var(--main-color-twentytwo) 0%,
    var(--main-color-eighteen) 100%
  );
}

.btn-style-fifteen:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  color: var(--white-color) !important;
}
.btn-style-fifteen .txt {
  position: relative;
  z-index: 1;
}
.btn-style-fifteen:hover .txt {
  color: var(--white-color) !important;
}

.btn-style-seventeen {
  color: var(--main-color-two);
  background-color: var(--white-color);
}

.btn-style-seventeen:before,
.btn-style-sixteen::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.2, 1);
  transform: scale(0.2, 1);
  background-color: var(--main-color-eighteen);
}
.btn-style-seventeen:hover::before,
.btn-style-sixteen:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.btn-style-seventeen .txt {
  position: relative;
  z-index: 1;
}
.btn-style-seventeen:hover .txt {
  color: var(--white-color) !important;
}

/* --------- pricing section six ------------ */
.sec-title-four h2 {
  color: var(--main-color-two);
  font-family: var(--font-family-poppins);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2em;
}

.pricing-section-six .pattern-layer {
  position: absolute;
  /* left: -250px; */
  top: 140px;
  width: 100%;
  height: 791px;
  opacity: 1;
  z-index: -10;
  background-repeat: no-repeat;
}

.price-block-six {
  margin-bottom: 30px;
  padding: 0 5px;
  border-radius: 10px;
}

.price-block-six .inner-box {
  position: relative;
  border-radius: 3px;
  background-color: var(--white-color);
  padding-bottom: 45px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
}

.price-block-six .upper-box {
  display: flex;
  padding: 40px 15px 25px;
  align-items: center;
  justify-content: center;
}

.price-block-six .lower-box {
  position: relative;
  padding-left: 30px;
  padding-right: 25px;
}

.price-block-six .button-box {
  position: relative;
  text-align: center;
  margin-top: 35px;
}

.price-block-six .button-box .start-btn {
  position: relative;
  font-weight: 500;
  padding: 15px 30px;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--main-color-two);
  font-family: var(--font-family-poppins);
  background: linear-gradient(
    to left,
    var(--main-color-two) 0%,
    var(--main-color-eighteen) 100%
  );
  border-radius: 0;
}
.price-block-six .button-box .start-btn:before {
  position: absolute;
  content: "";
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  background-color: var(--white-color);
}

.price-block-six .button-box .start-btn:hover::before {
  opacity: 0;
}

.price-block-six .button-box .start-btn .txt {
  position: relative;
  color: var(--main-color-two);
  transition: all 500ms ease;
}

.price-block-six .button-box .start-btn:hover .txt {
  color: var(--white-color);
}

.lower-box h5 {
  font-weight: 800;
  font-size: 22px;
  color: var(--heading-color);
  font-family: var(--font-family-poppins);
}

.lower-box .lower_text {
  color: #555555;
  font-family: var(--font-family-poppins);
}

/* --------------- footer section ----------- */
.footer-style-three {
  color: #d4d4d4;
  background-color: var(--dark-color-seven);
}
.footer-style-three .footer-widget {
  padding-bottom: 40px;
  color: var(--white-color);
}
.footer-style-three .footer-widget h5 {
  color: var(--white-color);
  margin-top: 25px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-family: var(--font-family-Sen);
  font-size: 22px;
  position: relative;
  font-weight: 700;
}
.footer-widget ul li {
  padding: 0 0 8px 24px;
  position: relative;
}
.footer-widget ul li a {
  color: #d4d4d4;
}
.footer-widget ul li:before {
  position: absolute;
  top: 11px;
  left: 0;
  width: 6px;
  height: 6px;
  content: "";
  background-color: #4c25c4;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}
.footer-style-three .footer-widget h5:before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 3px;
  background: var(--main-color-ten);
  background: -webkit-linear-gradient(
    to right,
    var(--main-color-ten) 0%,
    var(--main-color-eleven) 100%
  );
  background: -moz-linear-gradient(
    to right,
    var(--main-color-ten) 0%,
    var(--main-color-eleven) 100%
  );
  background: linear-gradient(
    to right,
    var(--main-color-ten) 0%,
    var(--main-color-eleven) 100%
  );
}

.quick-links-two li a {
  position: relative;
  font-weight: 400;
  color: #cecece;
  font-size: var(--font-16);
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: var(--font-family-DM-Sans);
}
.footer-widget ul li a:hover {
  color: #ff5c97;
  text-decoration: underline;
}
.footer-style-three .contact-list li {
  position: relative;
  color: #cecece;
  padding-left: 50px;
  margin-bottom: 15px;
}
.footer-style-three .contact-list li .icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 35px;
  height: 35px;
  line-height: 33px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  color: var(--white-color);
  border: 1px solid var(--white-color-opicity-two);
}
.flaticon-email:before {
  content: "\f658";
  font-family: "FontAwesome";
}

.flaticon-telephone:before {
  content: "\f2a0";
  font-family: "FontAwesome";
}

.footer-style-three .footer-column {
  padding: 0 15px;
}

.footer-style-three .newsletter-widget .text {
  font-weight: 400;
  line-height: 1.6em;
  color: var(--white-color);
}

.footer-style-three .inner-container {
  border-top: 1px solid var(--white-color-opicity-three);
}

.footer-style-three .logo-widget .text {
  color: #cecece;
  line-height: 1.7em;
  font-family: var(--font-family-DM-Sans);
}

.footer-style-three .inner-container .copyright {
  font-family: var(--font-family-DM-Sans);
}

/* ---- skew animation ---- */
.tv-section:hover .rotete-icon {
  animation: rotateYAnimation 2s infinite ease-in-out;
}

.rotete-icon:hover {
  animation: rotateYAnimation 2s infinite ease-in-out;
}

@keyframes rotateYAnimation {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* --- updown aniamtion */
@keyframes updown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.animate-updown {
  animation: updown 2s linear infinite;
}

/* Add a class to the section when it's in smaller screen size */
@media only screen and (max-width: 1200px) {
  .content-boxed .inner-box h1 {
    font-size: 220px;
    display: inline-block;
  }

  .speedtest-section.hide-bg-image {
    padding: 100px 0px 70px;
    background-image: none !important;
    background-color: var(--main-color-two);
  }
}

@media only screen and (max-width: 1021px) {
  .main-header.header-style-seven {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .navlinks {
    margin-bottom: 20px;
    width: 100%;
  }
  .content-boxed .inner-box {
    padding-top: 120px;
  }
  .content-boxed .inner-box .title {
    height: 50px;
  }
}

/* Responsive navigation */
@media only screen and (max-width: 767px) {
  .navlinks {
    display: none;
  }
  .nav-toggle {
    display: flex;
  }
  .slide .image-column .image {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}

@media only screen and (max-width: 599px) {
  .content-boxed .inner-box .title,
  .content-boxed .inner-box .text {
    font-size: 24px;
  }
  .content-boxed .inner-box {
    padding-top: 120px;
  }
  .content-boxed .inner-box h1 {
    font-size: 140px;
  }
  .content-boxed .inner-box .title {
    height: 30px;
  }
}
